@testing-pdf:registry=https://aavya.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.fdba099d-53f2-4a9c-b37b-9e697d08875e/contents/release/npm/
//aavya.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.fdba099d-53f2-4a9c-b37b-9e697d08875e/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
